---
title: false
styles: true
---

@import "alembic";

.feature{
  background: rgb(9,0,158);
  background: linear-gradient(0deg,  rgba(0,105,200,1) 0%, rgba(9,0,158,1) 100%,);

  h2{
    color: white;
  }
  h4{
    color: white;
  }
}

.container{
  max-width: 1500px;
}
